=link_to "new post", new_artical_path, class: "btn btn-default"

%table
	%tr
		%th Name
		%th Title
		%th Artical
	- @articals.each do |artical|
		%tr
			%td 
				=artical.user_name
			%td 
				=artical.title
			%td 
				=artical.body
			%td
				=link_to "Welcome Page", welcome_artical_path(artical), class: "btn btn-default"
=link_to "All users", users_articals_path, class: "btn btn-default"

